{% extends 'base.html' %}
{% load static %}
{% load hitcount_tags %}
{% block title %}دسته بندی {{ category.title }}{% endblock %}
{% block content %}
   <div class="latest-posts">
         <div class="container-fluid">
            <div class="blog-title-span">
               <span class="title">{{ category.title }}</span>
            </div>
            {% for post in posts %}
               <div class="col-md-3">
                  <div class="post-box" style="min-height: 390px">
                     <a href="{{ post.get_absolute_url }}">
                        <figure>
                           <img src="{% if post.image %}{{ post.image.url }} {% else %} {% static 'img/no_image.png' %} {% endif %}">
                           <figcaption class="meta-fig">
                              <span><i class="fa fa-eye" aria-hidden="true"></i>{{ post.current_hit_count }}</span>
      <!--                              <span class='view' ><i class="fa fa-eye" aria-hidden="true"></i>{% get_hit_count for post %}</span>-->
                              <span><i class="fa fa-comment-o"></i> 12</span>
                              <span><i class="fa fa-clock-o"></i> {{ post.publish|time:'H:i'}} </span>&nbsp;
                           </figcaption>
                           <figcaption class="view">
                                 <span>{{ post.category }}</span>
                           </figcaption>
                        </figure>
                        <div class="text-p">
                           <h4>{{ post.title|truncatewords:15 }}</h4>
                           <br>
                           <p>{{ post.body }}</p>
                           <div class="text-rigt">
                              <a href="{{ post.get_absolute_url }}">ادامه...</a>
                           </div>
                     </div>
                     </a>
                  </div>
               </div>
            {% endfor %}
         </div>
      </div>
   </div>

 {% if is_paginated %}
<nav aria-label="Page navigation example">
      <ul class="pagination  justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="#">&laquo;</a>
                </li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item">
                        <a class="page-link active">{{ i }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&raquo;</a>
                </li>
            {% endif %}
      </ul>
</nav>
 {% endif %}
{% endblock %}